/* @media (max-width: 767px) { */

/* para borrar  */

/* para borrar */

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.9s ease;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.black-fade-transition {
  transition: opacity 0.3s, background-color 0.3s;
  background-color: black;
}

.textoTerrir {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 20px;
  line-height: 25px;
}

.logo {
  width: 240px;
  margin-bottom: -60px;
  z-index: 0;
}

.logoTerroir {
  width: 240px;
  margin-top: 250px;
  z-index: 0;
  padding-bottom: 200px;
}
.image {
  width: 100%;
  height: auto;
}

body {
  font-weight: 400;
  /* background-color: black; */
}

.containerHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  -webkit-overflow-scrolling: touch;
  /* height: 100vh; */
  z-index: 1;
  overflow-y: scroll;
}
.background {
  background-image: url("./images/background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.contenido-dinamico {
  display: none;
}

.contenido-dinamico-contact {
  display: none;
}

@media screen and (min-width: 768px) {
  .background-life {
    background-image: url("./images/background-water.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .contenido-dinamico {
    display: block;
  }
  .contenido-dinamico-contact {
    display: flex;
  }
}

@media screen and (min-width: 1540px) {
  .background-life {
    height: 100vh;
  }
}

.backgroundContacto {
  background-image: url("./images/background-contact-mob.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .backgroundContacto {
    background-image: none;
    background-color: black;
  }
}

.backgroundHambuerguesa {
  background-image: url("./images/fondoHambuerguesa.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.backgroundTerroir {
  background-image: url("./images/fondoTerroir.png");
  background-size: cover;
  background-position: center;
}

.menu {
  color: #f3eee3;
  font-size: 2rem;
  cursor: pointer;
}

.menu:hover {
  color: #c4b27d;
}

.menu-desk {
  font-size: 1.8rem;
  cursor: default;
}

.menu-desk-hambur {
  color: #c4b27d;
  font-size: 1.8rem;
  cursor: default;
}

@media screen and (min-width: 768px) {
  .menu-desk {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 1024px) {
  .menu-desk {
    font-size: 2.2rem;
  }

  .menu-desk-hambur {
    font-size: 2.2rem;
    cursor: default;
  }
}

.subMenu {
  text-decoration: none;
  font-size: 0.8rem;
  letter-spacing: 1.5px;
  color: #f3eee3;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .subMenu {
    font-size: 0.6rem;
  }
}

@media screen and (min-width: 1024px) {
  .subMenu {
    font-size: 0.8rem;
  }
}
.subMenu2 {
  font-size: 13px;
  letter-spacing: 1.5px;
  color: #fff;
  margin-bottom: 20px;
  font-family: Conv_maisonneue-book;
}

.subMenu:hover {
  color: #cab57e; /* Color al pasar el cursor por encima del texto */
  transition: all;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.footerItems {
  color: #fff;
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal;
  color: #fff;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

.awssld__bullets {
  margin-bottom: 50px;
}

.awssld__bullets button {
  padding: 0;
  display: block;
  width: 6px !important;
  height: 6px !important;
  margin: 25px !important;
  border-radius: 50%;
  --control-bullet-color: #cab57e;
  background: var(--control-bullet-color);
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
  border: none;
  transition: transform 0.225s cubic-bezier(0.8, 1.35, 0.75, 1.45),
    background-color 0.175s ease-out;
}

.awssld__bullets .awssld__bullets--active {
  transform: scale(2.5) !important;

  --control-bullet-active-color: #cab57e;
  background: var(--control-bullet-active-color);
}

.awssld__controls__arrow-right {
  opacity: 0 !important;
}
.awssld__controls__arrow-left {
  opacity: 0 !important;
}

.awssld__next {
  width: 80px !important;
  margin-right: 200px !important; /* Adjust the right margin as needed */
}

.awssld__prev {
  width: 80px !important;
  margin-left: 200px !important; /* Adjust the left margin as needed */
}

.fade-transition {
  transition: opacity 1s ease-in-out;
}

/* styles.css (o cualquier otro nombre que le hayas dado) */

/* Estilos para los botones de navegación */

/*   
} */

.filter-invert {
  filter: saturate(6);
}

.filterHambur {
  filter: saturate(6);
}

img {
  transition: filter 0.2s ease;
}

.shadow-custom {
  --tw-shadow: 0 25px 16px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.text-right-justify {
  text-align: justify;
  text-align-last: right;
}

.shadow-bottom {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
