/* @media (max-width: 767px) { */
  
.logo {
  width: 240px;
margin-bottom: -60px;
}
  .image {
    width: 100%;
    height: auto;
  }

body{
  font-weight: 400;
  background-color: darkolivegreen;
}

  .container {

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100vh;
    z-index: 1;

  }
.background {
  background-image: url("./images/pexels-bruno-cantuária-774455.jpg");
  background-size: cover;
  background-position: center;


}

  .menu{
    
    color: #cab57e;
    font-family: Conv_CormorantGaramond-Regular;
    font-size: 35px;
    margin-bottom: 25px;
    line-height: 35px;
    cursor: pointer;
  }

.subMenu {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1.5px;
  color: #fff;
  margin-bottom: 20px;
  font-family: Conv_maisonneue-book;
}

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    
  }
  

  .footerItems {
    color: #fff;
    outline: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: normal;
    font-size: 13px;
    color: #fff;
    font-family: Conv_maisonneue-book;
  }

  
/*   
} */

